@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form method="post">
    <div><button>Send Email</button></div>
</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>